body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #000;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.content {
    text-align: center;
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#message {
    font-family: 'Caveat', cursive;
    font-size: 1.7em;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    margin-top: -200px;
    white-space: pre-wrap;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    padding: 0 20px;
    width: 80%;
    letter-spacing: 3px;
    line-height: 2.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heart {
    color: red;
    font-size: 2em;
    margin-right: 10px;
}

#custom-image {
    max-width: 100px;
    max-height: 100px;
    margin-left: 10px;
}

.hidden {
    opacity: 0;
}

/* 星空 Canvas */
#starCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#musicBtn {
    background-color: rgba(0,0,0,0.8); /* 设置背景为黑色 */
    color: white; /* 设置文字为白色 */
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    border-radius: 3px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    outline: none;
}
.music-container {
  position: relative;
  z-index: 2;
}